.msg-container {
  color: green;
}

.msg-animated {
  animation: fadeout-message 3s infinite ease-out;
}

@keyframes fadeout-message {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}


.msg-queue-length {
  padding-right: 10px;
}

