:root {
  --end-opacity: 0.3;
}

.msg-container {
  color: green;
}

/* two classes are for synchronizing CSS animation and a queue of JS timeout callbacks */
.msg-animated-odd {
  opacity: var(--end-opacity);
  animation: fadeout-message-odd 3s ease-out;
}

.msg-animated-even {
  opacity: var(--end-opacity);
  animation: fadeout-message-even 3s ease-out;
}

@keyframes fadeout-message-odd {
  from {
    opacity: 1;
  }
  to {
    opacity:var(--end-opacity);
  }
}

@keyframes fadeout-message-even {
  from {
    opacity: 1;
  }
  to {
    opacity: var(--end-opacity);
  }
}


.msg-queue-length {
  padding-right: 10px;
}

